.board {
    display: inline-block;
    float: left;
    width: 90vmin;
    height: 90vmin;
    margin: 5vmin calc(50% - 45vmin);
    border: 10px solid red;
    background-color: #eee;
}

    .board > .row {
        display: inline-block;
        float: left;
        width: 100%;
        height: 25%;
    }
        .board > .row > .cell {
            display: inline-block;
            float: left;
            width: 25%;
            height: 100%;
            overflow: hidden;
        }